#moneyPlus{
  color: rgb(61, 126, 0);
  font-weight: bolder;
}
#moneyMinus{
  color: rgb(248, 16, 16);
  font-weight: bolder;
}

.minusIncome{
  background-color: rgb(236, 244, 245);
}

.list-category{
  background-color: rgb(206, 245, 245);
}